<font color="blue">Gene Id: 100690880</font>
<font>pattern:GT	start:397319	end:397354	region:2intron(parent:rna46968)	SSR repeat:16</font>
<br>
<br>
<br>
<font>Tilapia(Esembl 3'f):</font><font color="green">TGGAAGAGACAAAGTGCTCAACCAGATTGACCAATTATGCATAATCCAGTGCAGACGGGTTAAATGGCTAAATTCACAATGTTACAAAGCCTTATTTGGCCTAACTAGTGTTTCTGGCCTTCAGTCTCTGCTTGGCGTGTGTGTGTGTTTGCATTGTGGTTATTGCAGATTTTTCATGATGATTCACAAACATATTTGCC</font>
<font>Tilapia(Taiwan 3'f):</font><font color="green">TGGAAGAGACAAAGTGCTCAACCAGATTGACCAATTATGCATAATCCAGTGCAGACGGGTTAAATGGCTAAATTCACAATGTTACAAAGCCTTATTTGGCCTAACTAGTGTTTCTGGCCTTCAGTCTCTGCTTGGCGTGTGTGTGTGTTTGCATTGTGGTTATTGCAGATTTTTCATGATGATTCACAAACATATTTGCC</font>
<br>
<br>
<br>
<font>Tilapia(Esembl SSR):</font><font color="green">GTGTGTGTGTGTGTGTGTGTGTGTGTGTGTGTGTGT</font>
<br>
<font>Tilapia(Taiwan SSR):</font><font color="green">GTGTGTGTGTGTGTGTGTGTGTGTGTGTGT</font><font color="red">________</font>

<br>
<br>
<br>

<font>Tilapia(Esembl 5'f):</font><font color="green">GGAACTTGGAACGTCCCAGAGTGACACTACATAAAAAACGGTGATTGGCAGCCAGAGATACTGTGTGTGCGTCTGTTTCTGAACATGTGTGTGTTTGTCTGACCTGTAGTTACCTTTCAGAGTCTCCCTGCTCACACACTGACTGCCTGACTCATGGGTCCTACAGTAGCTCAACCTTTCTGCTCCGTCTGTACTTAGAA</font>
<font>Tilapia(Taiwan 5'f):</font><font color="green">GGAACTTGGAACGTCCCAGAGTGACACTACATAAAAAACGGTGATTGGCAGCCAGAGATACTGTGTGTGCGTCTGTTTCTGAACATGTGTGTGTTTGTCTGACCTGTAGTTACCTTTCAGAGTCTCCCTGCTCACACACTGACTGCCTGACTCATGGGTCCTACAGTAGCTCAACCTTTCTGCTCCGTCTGTACTTAGAA</font>